/* Changes the box model from default(content box) to border-box */
  body * {
    box-sizing: border-box;
  }

  body {
    background-color: rgba(166, 191, 203, 0.5);
  }

/* Size images  */
    img {
      max-height: 200px;
      width: auto;
    }

/* style used to move bullet points with the li's */
    ul {
      list-style-position: inside;
    }

/* bullet points style */
    li {
      list-style-type: disc;
      position: static;
      text-align: center;
      left: 30%;
    }

/* removes bullets from img's  */
    .card_left > li {
      list-style: none;
    }

/* Move favorite food bullet points and set the length for no overflow */
    .card_right ul li {
      position: relative;
      text-align: left;
      max-width: 250px;
    }

    .favorite_food li:first-child {
      color: red;
    }

/* space between restaurants */
    .restaurantLink {
      margin: 10% 0;
    }

  /* Adds vertical line between restaurants */
    .restaurantLink:nth-child(even) {
      border-left: 1px solid gray;
    }

    .container {
      text-align: center;
    }

/* Style the title */
    #title {
      font-family: sans-serif;
      text-transform: uppercase;
      text-decoration: underline;
      letter-spacing: 2px;
      text-shadow: 2px 2px 5px gray;
    }
/* CSS grid set up */
    .restaurant_list {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-auto-flow: row;
      grid-gap: 10px;
    }

    .card_left {
      grid-column: 1;
    }

    .card_right {
      grid_column: 2;
    }
/* CSS grid end */

/* Hover over image link animation */
  a:hover img {
    animation: image_hover 0.3s linear forwards;
  }

  @keyframes image_hover {
    0% {
      transform: rotate(-5deg);
    }

    50% {
      transform: rotate(5deg);
    }

    100% {
      transform: rotate(0deg);
      box-shadow: 5px 5px 5px gray;
    }
  }

/* style for small screen size....puts everyting in one column */
    @media only screen and (max-width: 700px) {
      .restaurant_list {
        grid-template-columns: 1fr;
      }

/*  Makes the images 100% of the viewport width */
      image {
        display: block;
        height: auto;
        width: 100vw;
      }
/* removes vertical line between restaurants for mobile viewing */
      .restaurantLink:nth-child(even) {
        border-left: 0px solid gray;
      }

  /* bullet points style */
      li {
        list-style-type: disc;
        position: static;
        text-align: center;
        left: 15%;
      }

   }

/* Form Style */
    form {
      margin: 0;
      padding-bottom: 10%;
    }

    input {
      display: inline-block;
      width: 15em;
      margin-bottom: 1em;
    }

    textarea {
      display: inline-block;
      width: 15em;
    }

    label {
      display: inline-block;
      width: 200px;
      margin-right:0;
      paddiing-top: 1.5em;
      margin-bottom: 1em;
    }

    button {
      margin: 2em 0;
    }
